* {
    box-sizing: border-box;
}

.calculator-wrapper {
    border: 1px solid lightgray;
    background: floralwhite;
    border-radius: 10px;
    margin: 100px auto;
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    width: 96%;
    height: 80px;
    border: 1px solid lightgray;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: white;
    position: relative;
    overflow: hidden;
    transition: .2s;
}

.error {
    border: 1px solid red;
}

.input-wrapper:hover {
    border: 1px solid darkgray;
}

.expression {
    margin: 0 5px;
    height: 20px;
    padding: 5px;
    position: absolute;
    right: 0;
    transition: .3s;
    white-space: nowrap;
    overflow: hidden;
}

.input-area {
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    /*margin: 0 5px;*/
    /*width: 98%;*/
    height: 50%;
    caret-color: transparent;
    font-size: 32px;
    font-weight: bold;
    outline: none;
    text-align: right;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    white-space: nowrap;
    background: red;
}



.btn-row {
    display: flex;
}

.btn {
    height: 60px;
    width: 80px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.btn:active {
    border: 1px solid gray;
}

.num,
.btn:hover {
    background: lavender;
}

.num:hover {
    background: gainsboro;
}

.equal,
.equal:hover {
    color: white;
    background: royalblue;
}

.action {
    font-size: 22px;
    font-weight: bold;
}

.rad-deg-toggle {
    display: flex;
    width: 208px;
}

.toggled {
    color: gray;
}

.rad,
.deg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deg {
    border-left: 1px solid darkgray;
}

.rad {
    border-right: 1px solid darkgray;
}

