* {
    box-sizing: border-box;
    transition: .2s;
    border-radius: 10px;
}

.calculator-wrapper {
    border: 1px solid lightgray;
    background: floralwhite;
    margin: 100px auto;
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    width: 96%;
    height: 80px;
    border: 1px solid lightgray;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    background: white;
    position: relative;
    overflow: hidden;
}

.input-wrapper:hover {
    border: 1px solid darkgray;
}

.error {
    border: 1px solid red;
}

.input-area {
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0 15px;
    height: 50%;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
}

.expression {
    margin: 0 5px;
    height: 20px;
    padding: 5px;
    position: absolute;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
}

.btn-row,
.btn-col {
    display: flex;
}

.btn-col {
    flex-direction: column;
}

.btn {
    height: 60px;
    width: 80px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;
    font-size: 22px;
    cursor: pointer;
}

.btn:active,
.btn:focus {
    border: 1px solid gray;
}

.num,
.btn:hover {
    background: lavender;
}

.num:hover {
    background: gainsboro;
}

.equal {
    height: 128px;
    background: royalblue;
}

.equal:hover {
    background: rebeccapurple;
}

.clear,
.clear:hover {
    background: darkgray;
}

.action {
    font-weight: bold;
}
