* {
    margin: 0;
    box-sizing: border-box;
    transition: .2s;
    font-family: Ebrima;
}

.calculator-wrapper {
    border: 1px solid lightgray;
    background: darkslategray;
    margin: 100px auto;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    width: 100%;
    height: 40%;
    border: 1px solid lightgray;
    background: white;
    position: relative;
    overflow: hidden;
}

.input-wrapper:hover {
    border: 1px solid darkgray;
}

.error {
    border: 1px solid red;
}

.input-area {
    display: flex;
    align-items: flex-end;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0 15px;
    height: 50%;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
}

.expression {
    margin: 0 5px;
    height: 30px;
    padding: 5px;
    font-size: 18px;
    position: absolute;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
}

.buttons-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    flex-flow: column;
}

.btn-row {
    display: flex;
    justify-content: center;
    height: 20%;
}

.btn-col .btn-row .btn {
    width: 100%;
}

.btn-col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn {
    height: 100%;
    width: 25%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lavender;
    font-size: 20px;
    cursor: pointer;
}

.btn:active,
.btn:focus {
    border: 1px solid gray;
}

.btn:hover {
    background: darkorange;
}

.num:hover {
    background: gainsboro;
}

.equal:hover {
    background: indigo;
}

#zero {
    width: 66.66%;
}

.action {
    background: orange;
    font-weight: bold;
}

.clear,
.clear:hover {
    background: darkgray;
}

#dot {
    background: gainsboro;
    width: 33.3%;
}

.equal {
    height: 100%;
    background: rebeccapurple;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    .container {
        height: 100vh;
        border-radius: 0;
    }

    .calculator-wrapper {
        border: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .input-area {
        padding-bottom: 20px;
    }

    .expression {
        height: 100px;
    }
}